html
  font-family: 'PingFangSC-Thin', sans-serif

#songlist
  display: block
  margin: 0 auto
  width: 800px
  border-collapse: collapse

  tr:nth-child(2n+0)
    background-color: #6c9fa7
  tr:nth-child(2n+1)
    background-color: #ffffff

  a
    text-decoration: none

  td
    border: none
    padding: 15px 20px

  .name
    width: 30%
  .artist
    width: 20%
  .status
    width: 30%
  .play
    width: 25%
